.navbar-container{
    padding-top: 1rem;
    background-color: #0C2309;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    a{
        margin-left: 2rem;
        font-size: 1.3rem;
        &:hover{
            color: #C79433;
        }
    }
    .navbar-logo{
        a{
            margin: 0;
        }
    }
    .icons{
        a{
            font-size: 1.4rem;
        }
    }

    .logga{
        width: 100px;
    }
}

@media screen and (max-width: 830px){
    .links{
        display: none;
    }
    .logga{
        width: 75px !important;
    }
}