@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
	background-color: #0C2309;
	color: #F8F8F8;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1, h2, h3, h4{
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600
}

p{
	font-family: 'PT Serif', serif;
	font-size: 15px;
}

a {
	font-family: 'Fira Sans', sans-serif;
	font-weight: 600;
	text-decoration: none;
	color: #F8F8F8;
	text-transform: uppercase;
}


